<div class="sandspieltheraphie frankfurt andrea_niersbach footer">
  <div class="sandspieltheraphie frankfurt andrea_niersbach footer-items">
    <div class="sandspieltheraphie frankfurt andrea_niersbach footer-legal">
      <%= link_to "Impressum", legal_path, class: "footer-item" %>
      <%= link_to "Datenschutz", privacy_path, class: "footer-item" %>
    </div>
    <div class="sandspieltheraphie frankfurt andrea_niersbach footer-contact">
      <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">+49 171 8370023</p>
      <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach"><a href="mailto:info@spielend-leben-lernen.com", id="footer-text">info@spielend-leben-lernen.com</a></p>
    </div>
    <div class="sandspieltheraphie frankfurt andrea_niersbach footer-adress">
      <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">panta rhei Gesundheitszentrum</p>
      <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">Bundenweg 34</p>
      <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">60320 Frankfurt</p>
    </div>
    <div class="sandspieltheraphie frankfurt andrea_niersbach footer-adress">
      <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">Menschenraum</p>
      <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">Burgstraße 7a</p>
      <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">64342 Seeheim-Jugenheim</p>
    </div>
  </div>

  <div class="sandspieltheraphie frankfurt andrea_niersbach footer-items-medium">
    <div class="sandspieltheraphie frankfurt andrea_niersbach footer-section">
      <div class="sandspieltheraphie frankfurt andrea_niersbach footer-contact-medium">
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">+49 171 8370023</p>
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach"><a href="mailto:info@spielend-leben-lernen.com", id="footer-text">info@spielend-leben-lernen.com</a></p>
      </div>
      <div class="sandspieltheraphie frankfurt andrea_niersbach footer-legal-medium">
        <%= link_to "Impressum", legal_path, class: "footer-item" %>
        <%= link_to "Datenschutz", privacy_path, class: "footer-item" %>
      </div>
    </div>
    <div class="sandspieltheraphie frankfurt andrea_niersbach footer-section">
      <div class="sandspieltheraphie frankfurt andrea_niersbach footer-adress">
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">panta rhei Gesundheitszentrum</p>
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">Bundenweg 34</p>
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">60320 Frankfurt</p>
      </div>
    </div>
    <div class="sandspieltheraphie frankfurt andrea_niersbach footer-section">
      <div class="sandspieltheraphie frankfurt andrea_niersbach footer-adress">
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">Menschenraum</p>
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">Burgstraße 7a</p>
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">64342 Seeheim-Jugenheim</p>
      </div>
    </div>
  </div>

  <div class="sandspieltheraphie frankfurt andrea_niersbach footer-items-small">
    <div class="sandspieltheraphie frankfurt andrea_niersbach footer-section">
      <div class="sandspieltheraphie frankfurt andrea_niersbach footer-contact-small">
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">+49 171 8370023</p>
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach"><a href="mailto:info@spielend-leben-lernen.com", id="footer-text">info@spielend-leben-lernen.com</a></p>
      </div>
      <div class="sandspieltheraphie frankfurt andrea_niersbach footer-legal-small">
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach"><%= link_to "Impressum", legal_path, class: "footer-item" %> </p>
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach"><%= link_to "Datenschutz", privacy_path, class: "footer-item" %></p>
      </div>
    </div>
    <div class="sandspieltheraphie frankfurt andrea_niersbach footer-section">
      <div class="sandspieltheraphie frankfurt andrea_niersbach footer-adress">
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">panta rhei <br>Gesundheitszentrum</p>
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">Bundenweg 34</p>
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">60320 Frankfurt</p>
      </div>
    </div>
    <div class="sandspieltheraphie frankfurt andrea_niersbach footer-section">
      <div class="sandspieltheraphie frankfurt andrea_niersbach footer-adress">
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">Menschenraum</p>
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">Burgstraße 7a</p>
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">64342 Seeheim- <br>Jugenheim</p>
      </div>
    </div>

  </div>
    <div class="sandspieltheraphie frankfurt andrea_niersbach footer-items-xs">
    <div class="sandspieltheraphie frankfurt andrea_niersbach footer-section">
      <div class="footer-contact-xs">
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">+49 171 8370023</p>
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach"><a href="mailto:info@spielend-leben-lernen.com", id="footer-text">info@spielend-leben-lernen.com</a></p>
      </div>
      <div class="sandspieltheraphie frankfurt andrea_niersbach footer-legal-xs">
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach"><%= link_to "Impressum", legal_path, class: "footer-item" %> </p>
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach"><%= link_to "Datenschutz", privacy_path, class: "footer-item" %></p>
      </div>
    </div>
    <div class="sandspieltheraphie frankfurt andrea_niersbach footer-section">
      <div class="sandspieltheraphie frankfurt andrea_niersbach footer-adress">
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">panta rhei <br>Gesundheitszentrum</p>
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">Bundenweg 34</p>
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">60320 Frankfurt</p>
      </div>
      <div class="footer-adress">
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">Menschenraum</p>
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">Burgstraße 7a</p>
        <p id="footer-text" class="sandspieltheraphie frankfurt andrea_niersbach">64342 Seeheim- <br>Jugenheim</p>
      </div>
    </div>
  </div>
</div>

