<div class="navbar sticky">
  <div class="navbar-brand">
    <%= link_to root_path do %>
      <%= image_path 'clown.png', class:"navbar-img" %>
    <% end %>
   <%= link_to root_path do %>
    <h2 class="navbar-header">Spielend Leben lernen</h2>
    <% end %>
  </div>
  <div id="navbar-items">
    <%= link_to "Home", root_path, class: current_class?(root_path) %>
    <%= link_to "Philosophie", philosophy_path, class: current_class?(philosophy_path) %>
    <%= link_to "Angebot", offer_path, class: current_class?(offer_path) %>
    <%= link_to "Über mich", about_path, class: current_class?(about_path)%>
    <%= link_to "Kontakt", contact_path, class: current_class?(contact_path)%>
  </div>
</div>
