<div class="container">
  <div class="first-section">
    <div class="header">
      <h2>Der direkte Weg zum Herzen</h2>
    </div>
    <p class="heart">eines Kindes führt nicht darüber, ihm etwas beibringen zu wollen und dafür zu sorgen, dass es die Erwachsenen versteht, sondern das Kind zu verstehen und Teil seiner Welt zu werden.</p>
  </div>
  <div class="section">
    <%= image_tag asset_path('philosophy_2.jpg'), class:"game-picture", alt:"Sandspieltheraphie_Frankfurt_Philosophie_des_Sandspiels" %>
    <p class ="philo-content"> <span class="sub-header">Das Spiel </span>ist die zentrale Tätigkeitsform des kindlichen Lebens. Spielzeit ist eine wichtige, lehrreiche, sinnvolle und höchst wertvolle Zeit - eine Zeit, um zu erleben, zu erkennen und neu zu begreifen. Ein Kind bringt im Spiel seine Individualität und Persönlichkeit zum Ausdruck. Durch das Spielen gestalten die Heranwachsenden ihre Wirklichkeit - direkt, unbefangen und unverfälscht. Im kreativen Spiel lernt der junge Mensch aus sich selbst zu schöpfen, sich und seine Umwelt neu zu begreifen und sich aus einer inneren Quelle heraus zu entfalten.
    </p>
    <%= image_tag asset_path('philosophy_1.jpg'), class:"border-picture", alt:"Sandspieltheraphie_Frankfurt_Philosophie_des_Sandspiels_Andrea_Niersbach" %>
    <p class="philo-content"> <span class="sub-header">In einem geschützten Rahmen</span> - frei von Erwartungen, Restriktionen und Leistungsanforderungen - lernen Kinder und Jugendliche mit sich, mit verschiedenen Materialien, unterschiedlichen Ausdrucksformen und mit vielfältigen Rollen zu experimentieren.
    Dadurch können sie sich mit Hilfe der Welt der Symbole und der Bilder in der aktiven Gestaltung und einem altersgerechten “Plaudern” neu erfahren. Kinder haben ihre eigene Sprache und ihre eigenen Weisen des Selbstausdrucks und müssen auch dort abgeholt werden.</p>
    <%= image_tag asset_path('kids.jpg'), class:"creative-picture", alt:"Sandspieltheraphie_Frankfurt_Philosophie_des_Sandspiels_Figuren_im_Sandspiel" %>
    <p class="philo-content"><span class="sub-header">Im kreativen künstlerischen Akt </span> können sowohl die Themen, Probleme, Spannungen, Ängste und Konflikte der Kinder und Jugendlichen als auch ihre verborgenen Ressourcen, Sehnsüchte und Wünsche ausgedrückt und neu betrachtet werden. Hier kann sich z.B. zeigen, mit welchen inneren "Drachen" ein Kind kämpft und welche Figuren in diesem Konflikt auf welche Weise hilfreich sind. Eltern können dann in einem weiteren Schritt zur Stärkung des Familienverbundes in diesen Prozess involviert werden.</p>
  </div>

  <div class="section philo-bottom">
    <h2>Der Sandkasten</h2>

      <%= image_tag asset_path("Fairy.png"), class: "fairy-picture", alt:"Sandspieltheraphie_Frankfurt_Philosophie_des_Sandspiels_Andrea_Niersbach" %>

    <p class="philo-content">bietet darin einen freien und doch sicheren Raum, in dem sich die Ideen, Imaginationen und Fantasien kindgerecht ausdrücken können.
    <span></span>
    Sand ist dabei ein Symbol für das Entstehen und die Veränderlichkeit der kindlichen Seele und stellt selbst eine Brücke zur Welt der Imagination dar. Wenn sich bereits im Sand bestimmte Bilder abzeichnen, dann verleiht das der Fantasie Flügel.
    </p>

    <p class="philo-content"></p>
    <%= link_to "Erfahren Sie mehr über die Philosophie des Sandspiels", sand_path, class:"sand-link" %>
  </div>
</div>
