<!DOCTYPE html>
<html>
  <head>
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="b4e21258-c863-4601-9dd8-9e4d5a159c27" data-blockingmode="auto" type="text/javascript"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag asset_path("favicon-32x32.png"), rel: 'icon'%>
    <title>Spielend Leben lernen - Sandspieltheraphie in Frankfurt</title>
    <meta name="description" content="Spielend leben lernen. Schöpferische Sandspieltherapie, Gestalttherapie & Familientherapie für Kinder, Jugendliche und Erwachsene.">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div class="fix-content">
      <%= yield %>
    </div>
    <%# unless controller_name == "pages" %>
      <%= render 'shared/footer' %>
    <%# end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
